/* decommenter si utilisation footer 
  .footer{ 
    float: left; 
    width: 100%; 
     background: #83547B
  }*/


/* TABLE DATA */

#tableData {
    border-collapse: collapse;
    margin: 1em;
}

td,
#titleData {
    border: solid white 1px;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

td input {
    width: 45%;
}

#questionRSA {
    justify-content: center;
}

@media (min-width:820px) {
    #nsmResponsive {
        display: none;
    }
}

@media (max-width:820px) {
    .colgauche,
    .coldroite {
        display: none;
    }
    #nsmResponsive {
        font-size: 30px;
        text-align: center;
        display: contents;
    }
}