body {
    background-color: darkslategray;
    color: white;
    padding: 5em;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    margin: 0;
}

.displayFlex {
    display: flex;
}


/* HEADER */

.header_container {
    background-color: darkslategray;
    margin: 0;
    padding: 5px 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    border: solid white 2px;
    border-radius: 5px;
}

#nav_bar_liste {
    width: 90%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav_bar_liste li {
    text-align: center;
    display: inline;
    float: left;
    padding: 5px 2%;
    font-size: medium;
}

.button_topnavbar {
    /* border: 1px solid black; */
    border-radius: 5px;
    /* background-color: black; */
    color: white;
    padding: 12px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.button_topnavbar:hover {
    background-color: rgb(178, 236, 236);
}

h1 {
    margin: 1em;
}


/* TABLEAU DATA */

#tableData,
td,
#titleData {
    border: solid white 1px;
    border-collapse: collapse;
    padding: 1em;
    margin: 1em;
    text-align: center;
}


/* ENCRYPTER ET DECRYPTER ET SIGNATURE*/

#divCryptage,
#divSignature {
    margin: 2em;
}