body {
    background-color: darkslategray;
    color: white;
    padding: 5em;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    font-size: 3em;
    padding: 1em;
}


/* TABLEAU DATA */

#tableData,
td,
#titleData {
    border: solid white 1px;
    border-collapse: collapse;
    padding: 1em;
    margin: 1em;
    text-align: center;
}


/* ENCRYPTER ET DECRYPTER ET SIGNATURE*/

#divCryptage,
#divSignature {
    margin: 2em;
}