<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cryptographie/static/main.css">
    <title>Accueil</title>
</head>

<body>
    <header class="header_container">
        <nav class="displayFlex">
            <a href="accueil.html"><img src="/cryptographie/static/logo.png" alt="logo" id="logo"></a>
            <ul id="nav_bar_liste">
                <li>
                    <a href="accueil.html" class="button_topnavbar">Accueil</a>
                </li>
                <li>
                    <a href="chapitre1.html" class="button_topnavbar">Chapitre 1</a>
                </li>
                <li>
                    <a href="chapitre2.html" class="button_topnavbar">Chapitre 2</a>
                </li>
                <li>
                    <a href="chapitre3.html" class="button_topnavbar">Chapitre 3</a>
                </li>
            </ul>
            <div id="menu-button" class="close"></div>
        </nav>
    </header>
    <main>
        En cours de dev, voir chapitre 3 bises.
    </main>
    <script>
    </script>

</body>

</html>