<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Accueil</title>

</head>

<body>
    <header class="header_container">
        <nav>
            <img src="../static/logo.png" alt="logo" id="logo">
            <ul id="nav_bar_liste">
                <li>
                    <a href="chapitre1.html" class="button_topnavbar">Chapter 1</a>
                </li>
                <li>
                    <a href="chapitre2.html" class="button_topnavbar">Chapter 2</a>
                </li>
                <li>
                    <a href="chapitre3.html" class="button_topnavbar">Chapter 3</a>
                </li>
                <li>
                    <a href="chapitre4.html" class="button_topnavbar">Chapter 4</a>
                </li>
            </ul>
            <div id="menu-button" class="close"></div>
        </nav>
    </header>
    <main>
        <h1 class="text-center">Mathematics for Cryptography
            <img src="https://cdn-icons.flaticon.com/png/128/1442/premium/1442116.png?token=exp=1642704784~hmac=069f7cdec3a28da0a49a832409978e75"
                alt="Crypto_Logo">
        </h1>

    </main>
</body>

</html>