<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Chapitre 2</title>
</head>

<body>
    <header class="header_container">
        <nav class="displayFlex">
            <a href="accueil.html"><img src="../static/logo.png" alt="logo" id="logo"></a>
            <ul id="nav_bar_liste">
                <li>
                    <a href="chapitre1.html" class="button_topnavbar">Chapitre 1</a>
                </li>
                <li>
                    <a href="chapitre2.html" class="button_topnavbar">Chapitre 2</a>
                </li>
                <li>
                    <a href="chapitre3.html" class="button_topnavbar">Chapitre 3</a>
                </li>
                <li>
                    <a href="chapitre4.html" class="button_topnavbar">Chapitre 4</a>
                </li>
            </ul>
            <div id="menu-button" class="close"></div>
        </nav>
    </header>

    <main>
        <section class="colgauche">
            En cours de dev, voir Chapitre 3
        </section>
        <section class="coldroite">


            <div>
                <p>Compute Euler</p>
                <label for="nEuler">n: </label>
                <input type="number" name="nEuler" id="nEuler">
                <input type="button" value="Compute Euler" id="computeEulerButton">
            </div>


            <div>
                <p>Compute Euler puissance</p>
                <label for="nombrePuissance">nombre: </label>
                <input type="number" name="nombrePuissance" id="nombrePuissance">

                <label for="puissance">puissance: </label>
                <input type="number" name="puissance" id="puissance">

                <label for="moduloEuler">modulo: </label>
                <input type="number" name="moduloEuler" id="moduloEuler">

                <input type="button" value="Compute Euler" id="computeEulerPuissanceButton">
            </div>



            <div>
                <p>Trouver l'inverse d'un nombre</p>
                <label for="nInverer">Nombre à inverser: </label>
                <input type="number" name="nInverer" id="nInverer">

                <label for="modInverser">Modulo: </label>
                <input type="number" name="modInverser" id="modInverser">

                <input type="button" value="Inverser" id="buttonNInverser">
            </div>


            <div>
                <p> Résoudre l'équation du type : x^p = y in Z/mZ</p>
                <label for="pEquation">p: </label>
                <input type="number" name="pEquation" id="pEquation">

                <label for="yEquation">y: </label>
                <input type="number" name="yEquation" id="yEquation">

                <label for="modEquation">Modulo: </label>
                <input type="number" name="modEquation" id="modEquation">

                <input type="button" value="Résoudre" id="buttonResoudreEquation">
            </div>


        </section>
    </main>
</body>

</html>