<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Chapitre 2</title>
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="titre_page">
                        <h1>Chapter 2 : Principles of Cryptography</h1>
                    </div>
                    <div class="menu-items">
                        <li><a class="dropdown-item" href="../views/chapitre1.html">Chapter 1 : Basics of Arihmetics</a></li>
                        <li><a class="dropdown-item" href="../views/chapitre2.html">Chapter 2 : Principles of Cryptography</a></li>
                        <li><a class="dropdown-item" href="../views/chapitre3.html">Chapter 3 : RSA Cryptosystem</a></li>
                        <li><a class="dropdown-item" href="../views/chapitre4.html">Chapter 4 : Group Theory and Elgamal Cryptosystem</a></li>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="colgauche">
            <div style=" display:flex; justify-content: center;">
                <a href="../views/chapitre3.html">En cours de dev, voir Chapitre 3</a>
            </div>
        </section>

    </main>
</body>

</html>