<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/chap1.css">
    <link rel="stylesheet" href="../static/main.css">

    <title>Chapitre 1</title>
</head>

<body>
    <header class="header_container">
        <nav class="displayFlex">
            <a href="accueil.html"><img src="../static/logo.png" alt="logo" id="logo"></a>
            <ul id="nav_bar_liste">
                <li>
                    <a href="chapitre1.html" class="button_topnavbar">Chapitre 1</a>
                </li>
                <li>
                    <a href="chapitre2.html" class="button_topnavbar">Chapitre 2</a>
                </li>
                <li>
                    <a href="chapitre3.html" class="button_topnavbar">Chapitre 3</a>
                </li>
                <li>
                    <a href="chapitre4.html" class="button_topnavbar">Chapitre 4</a>
                </li>
            </ul>
            <div id="menu-button" class="close"></div>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>Determine if a number is prime</h1>
                <button id="buttonExpPrime">show explanations</button>
                <div id="divExpPrime">
                    <h2>What is a prime number ?</h2>
                    <p>
                        A natural number (greater than or equal to 2) is a prime number if it has exactly 2 divisors: 1 and itself. Example : 2, 3, 5, 7, 11, 13, 17, 19 ... are prime numbers. There is an infinity of them.
                    </p>
                    <h2>Naive method</h2>
                    <p>
                        To determine whether a natural number n greater than or equal to 2 is a prime, we must search for a divisor of n among successive primes (2, 3, 5, 7, 11 ...) up to the value √n. Indeed, if n admits no divisor among the successive primes up to the value
                        √n, it will also admit none between √n and n because the divisors of a number go in pairs: one between 2 and √n, and the other between √n and n. If n has no divisors among successive primes up to the value √n, then it is a prime.
                    </p>
                    <h2>Sieve of Eratosthenes</h2>
                    <p>
                        In the sieve of Eratosthenes, which contains the numbers from 1 to 100, we crossed out successively the multiples of 2, those of 3, those of 5 and those of 7 (112 > 100), to obtain the list of the prime numbers lower than 100. 1 is considered as not being
                        a prime number.
                    </p>
                    <p>tips: know the first prime numbers</p>
                </div>
                <div>
                    <label for="nbrPremier"> Enter a number:</label>
                    <input type="number" title="nbrPremier" id="nbrPremier">
                    <input type="button" value="GO" id="isPrimeButton">
                </div>
            </div>
            <div>
                <h1>Compute PGCD</h1>
                <button id="buttonExpPgcd">show explanations</button>
                <div id="divExpPgcd">
                    <h2>Definition</h2>
                    <p>
                        The Greatest Common Divisor (GCD) between two or more numbers is the largest natural number that simultaneously divides all of these numbers.
                    </p>
                    <h2>Euclide algorithm</h2>
                    <p>
                        The following table shows the calculation of the PGCD of 21 and 15. The Euclidean division of a = 21 and b = 15 is performed: the quotient is 1 and the remainder 6. The algorithm continues with a = b and b = the previous remainder, until finding a zero
                        remainder. The algorithm then stops and returns the last non-zero remainder found, here r 3 = 3 which is indeed the PGCD of 21 and 15 : <br><br> 21 = 15 x 1 + 6 <br> 15 = 6 x 2 + 3 <br> 6 = 3 x 2 + 0 <br>

                    </p>
                </div>
                <div>
                    <label for="aPgcd"> Enter a:</label>
                    <input type="number" title="aPgcd" id="aPgcd">
                    <label for="bPgcd"> Enter b:</label>
                    <input type="number" title="bPgcd" id="bPgcd">
                    <input type="button" value="GO" id="pgcdButton">
                </div>
            </div>

            <div>
                <h1>Determine the prime factorisation of a number, deduce the number of divisors</h1>
                <button id="buttonPrimeFactor">show explanations</button>
                <div id="divPrimeFactor">
                    <h2>Method</h2>
                    <p>
                        To date, there is no efficient method to decompose a number into prime factors. It is on this problem that the RSA cryptographic system is based. It is thus necessary "stupidly" to divide the chosen number by the factors which divide it, until obtaining
                        only prime factors. </p>
                </div>
                <div>
                    <label for="primeFactorisation">Enter a number</label>
                    <input type="number" title="primeFactorisation" id="primeFactorisation">
                    <input type="button" value="GO" id="factorisationButton">
                </div>
            </div>

            <div>
                <h1>Compute extended Euclidean algorithm</h1>
                <table id="tableEuclideEtendue">
                    <th scope="row" colspan="4"> extended Euclidean algorithm </th>
                    <tr>
                        <th scope="col">Uk</th>
                        <th scope="col">Vk</th>
                        <th scope="col">Rk</th>
                        <th scope="col">Qk</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>0</td>
                        <td><label for="aEuclide">Enter a</label>
                            <input type="number" title="aEuclide" id="aEuclide">
                        </td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>
                            <label for="bEuclide">Enter b</label>
                            <input type="number" title="bEuclide" id="bEuclide">
                        </td>
                        <td>X</td>
                    </tr>
                    <table id="divResultatEuclide"></table>
                </table>
                <input type="button" value="GO" id="euclideEtenduButton">

            </div>

            <div>
                <h1>Compute numbe of type: x^p[n]</h1>
                <label for="xPower">Enter x:</label>
                <input type="number" title="xPower" id="xPower">
                <label for="pPower">Enter p:</label>
                <input type="number" title="pPower" id="pPower">
                <label for="nPower">Enter n:</label>
                <input type="number" title="nPower" id="nPower">
                <input type="button" value="GO" id="powerButton">
                <table id="tablePower">
                    <th scope="row" colspan="4">Méthode</th>
                    <tr>
                        <td>p</td>
                        <td>x^p</td>
                        <td>x^p[n]</td>
                        <td>In x^p[n]</td>
                    </tr>
                </table>
            </div>

            <div>
                <h1>Find liste of invetible in Z/nZ</h1>
                <p>In other words find all element a such that a ∧ n = 1</p>
                <div>
                    <p>Calculer l'inverse d'un nombre</p>
                    <label for="nInverer">Nombre à inverser: </label>
                    <input type="number" name="nInverer" id="nInverer">

                    <label for="modInverser">Modulo: </label>
                    <input type="number" name="modInverser" id="modInverser">

                    <input type="button" value="Inverser" id="buttonNInverser">
                </div>
                <div>
                    <p>Pour chaque élément inverssible de n:</p>
                    <label for="nInvList">Enter n</label>
                    <input type="number" title="nInv" id="nInvList">
                    <input type="button" value="GO" id="invertibleListButton">
                </div>
            </div>

            <div>
                <h1>Solve equation of the type: a * x = b in Z/nZ</h1>
                <label for="aEq">Enter a:</label>
                <input type="number" title="aEq" id="aEq">
                <label for="bEq">Enter b:</label>
                <input type="number" title="bEq" id="bEq">
                <label for="nEq">Enter n:</label>
                <input type="number" title="nEq" id="nEq">
                <input type="button" value="GO" id="eqButton">

            </div>

        </section>
    </main>
    <footer>
        Prime number: https://www.assistancescolaire.com/eleve/3e/maths/reviser-une-notion/determiner-si-un-nombre-est-premier-3mnr05 GCD: https://fr.wikipedia.org/wiki/Algorithme_d%27Euclide
    </footer>
    <script src="../utils/chap1.js"></script>
</body>

</html>