main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}

.paragraphe {
    background-color: #f0e2e7;
    padding: 1em;
    border-radius: 12px;
}

.tabDiv {
    margin-left: 2%;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    font-style: oblique;
}

table {
    margin: 1%;
    width: 30%;
    border-collapse: collapse;
}

th,
td {
    font-weight: normal;
    border: solid black 1px;
    padding: 2%;
    text-align: center;
}

td input {
    width: 18%;
}

div {
    margin-bottom: 3%;
}

#buttonExpPgcd {
    width: max-content;
}

main p {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

main button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1%;
    margin-left: 0px;
    padding-left: 0px;
}