body {
    background-color: white;
    color: black;
    padding: opx;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
}

.displayFlex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}


/* 
.center_interligne {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
} */


/***************** HEADER *****************/

#logo {
    height: 70px;
    width: 70px;
    margin: 10%;
    margin-bottom: 150px;
}

header nav{
    display: inline-block;
    width: 100%;
}

.header_container {
    background-color: #065A60;
    margin: 0;
    padding: 5px 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    width: 15em;
    min-width: 250px;
    height: 100vh; /*Pemet de prendre toute la page */
}

#nav_bar_liste {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

#nav_bar_liste li {
    text-align: right;
    display: inline;
    float: left;
    font-size: medium;
    width: 80%;
    padding: 5px 2%;
    margin-bottom: 2em;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#nav_bar_liste li a:hover{
    color: #272640;
}
#nav_bar_liste li:hover{
    border-bottom:1px solid #272640;
}


#nav_bar_liste li a{
    padding: 0;
    display: block;
    color: grey;
    /* color: #0B525B; */
}

.button_topnavbar {
    color: black;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.button_topnavbar:hover {
    color: rosybrown;
}


/* collones */

.coldroite {
    float: right;
    width: 23%;
    padding: 2%;
    border-left: solid white;
}

#computeEulerButton,
#computeEulerPuissanceButton,
#buttonNInverser,
#buttonResoudreEquation {
    cursor: pointer;
}

.colgauche {
    overflow: hidden;
    float: left;
    width: 65%;
    padding: 2%;
}

.coldroite p {
    font-size: 1.5em;
}


/* fromulaire classic */

.text-center{
    text-align: center;
}



/* MAIN Accueil */
main{
    position: fixed;
    margin-left: 16em;
    padding: 1em;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-size: 3em;
}